@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap');
@import url('http://fonts.cdnfonts.com/css/games');
@import url('http://fonts.cdnfonts.com/css/game');

/*html elements*/
body{
    width: 100%;
    height: 100%;
    margin: 0;
    background: url('/images/bg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}
h1{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    font-family: 'Bangers', cursive;
    text-decoration: underline;
    color: rgb(155, 4, 4);
    margin-top: 10%;
    text-align: center;
    font-weight: bold;
    z-index: 200;
}

/*stats*/
#health{
    position: relative;
    top: -10px;
    left: 720px;
    z-index: 50;
}
#stamina-wrapper{
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 5px;
    left: 20px;
}
#staminaLabel{
    font-family: 'GAME', serif;
    color: wheat;
    font-size: 20px;
}
#stamina{
    width: 300px;
    margin-left: 10px;
}
#heart-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}
#heart-wrapper img{
    width: 35px;
}

/*classes*/
.text {
    text-transform: uppercase;
    font-family: verdana;
    font-size:2em;
    font-weight: 700;
    color: rgb(155, 4, 4);
    text-shadow: 1px 1px 1px #fb7f7f,
        1px 2px 1px #fb7f7f,
        1px 3px 1px #fb7f7f,
        1px 4px 1px #fb7f7f,
        1px 5px 1px #fb7f7f,
        1px 6px 1px #fb7f7f,
        1px 7px 1px #fb7f7f,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}
.powerBall{
    background: url('/images/powerball.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 10px;
    position: absolute;
    left: 60px;
    z-index: 1;
    border-radius: 100%;
}
.boss{
    position: relative;
    top: 222px;
    left: 740px;
    width: 150px;
    height: 200px;
    background: url('/images/shisha_boss-showing.png');
    background-size: cover;
    animation: shishaComing 1s linear;
    background-repeat: no-repeat;
}
.coin-text{
    min-width: 500px;
}

/*main elements*/
#newCharecterWrapper{
    display: none;
}
#newCharecter{
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 200;
    width: 200px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#newCharecterText{
    /*text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);*/
                 text-shadow: 0 2px 3px #747474, 
      1px 3px 4px #222, 
      0 8px 3px #474747;
    font-family: 'Bangers', cursive;
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: fixed;
    text-align: center;
    z-index: 201;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#genderLabel{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
    color: rgb(155, 4, 4);
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
#textBoss{
    position: absolute; 
    z-index: 100;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    animation: bossShow 2s linear;
}
#playBtn{
    position: absolute;
    z-index: 100;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#game{
    border-radius: 5px;
    font-family: 'Bangers', cursive;
    background: url('images/game-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 900px;
    height: 500px;
    border: 3px solid rgb(0, 0, 0);
    position: absolute;
    overflow: hidden;
    border-bottom: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#genderField{
    margin-left:10%;
    position: absolute;
    top: 20%;
}
#charecter{
    z-index: 10;
    background: url('/images/player.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 26px;
    height: 50px;
    position: relative;
    top: 450px;
    left: 50px;
}
#block{
    background: url('/images/plant.png');
    background-repeat:no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: relative;
    top: 430px;
    left: 910px;
}

/*functionalities*/
.doubleJump{
    animation: doubleJump 0.7s linear;
}
.jump{
    animation: jump 0.5s linear;
}
.move{
    animation: moveBlock 1s linear infinite;
}
.cloudShoot{
    animation: bossClouds 1s linear infinite;
}
.shoot{
    animation: shoot 0.5s linear;
}
.fadeIn{
    animation: fadeIn 1s linear;
}
.fadeOut{
    animation: fadeOut 1.1s linear;
}

/*shop articles*/
#shop{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
    font-weight: bold;
    font-family: Play, sans-serif; 
    color: black;
    margin-right: 1%;
    margin-top: 3%;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    gap: 20px;
    float: right;
    flex-wrap:wrap;
    width: 460px;
}
#shop h3{
    font-size: 25px;
    color: rgb(95, 0, 16);
    font-family: 'Games', sans-serif;
}
#shop article{
    cursor: pointer;
    background: url('/images/article-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 220px;
    height: 300px;
    border-radius: 10px;
    padding: 10px 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3%;
}
.selected{
    border: 6px solid rgba(35, 0, 233, 0.574);
}
#shop img{
    height: 90px;
 width: 100%;
}
.button-article {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-article:hover, .button-article:active{ 
    background-color: initial; 
    background-position: 0 0; 
    color: #FF4742; 
}
.button-article:active{ 
    opacity: .5; 
}


/*animations*/
@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes bossShow {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.5;
    }
    40%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    90%{
        opacity: 0.5;
    }
    100%{
       opacity: 0;
    }
}

@keyframes shishaComing {
    0%{
        left: 910px;
    }
    40%{
        left: 850px;
    }
    60%{
        left: 800px;
    }
    100%{
        left: 750px;
    }
}

@keyframes moveBlock {
    0%{
        left: 910px;
    }
    20%{
        left: 704px;
    }
    40%{
        left: 528px;
    }
    60%{
        left: 352px;
    }
    80%{
        left: 176px;
    }
    100%{
        left: -30px;
    }
}

@keyframes bossClouds {
    0%{
        left: 720px;
    }
    20%{
        left: 704px;
    }
    40%{
        left: 528px;
    }
    60%{
        left: 352px;
    }
    80%{
        left: 176px;
    }
    100%{
        left: -30px;
    }
}

@keyframes shoot {
    0%{
        left: 60px;
    }
    20%{
        left: 160px;
    }
    40%{
        left: 360px;
    }
    60%{
        left: 560px;
    }
    80%{
        left: 700px;
    }
    100%{
        left: 980px;
    }
}

@keyframes jump {
    0%{
        top: 450px;
    }
    20%{
        top: 420px;
    }
    40%{
        top: 400px;
    }
    60%{
        top: 400px;
    }
    80%{
        top: 420px;
    }
    100%{
        top: 450px;
    }
}

@keyframes doubleJump {
    0%{
        top: 430px;
    }
    20%{
        top: 350px;
    }
    40%{
        top: 320px;
    }
    60%{
        top: 320px;
    }
    80%{
        top: 350px;
    }
    100%{
        top: 450px;
    }
}

/*Screen Widths*/
@media only screen and (max-width: 1870px) {
    #shop{
        width: 100%;
        justify-content: center;
        margin: 0;
        margin-top: 110px;
        gap: 0;
        margin-bottom: 40px;
    }
    #shop article:nth-last-child(even){
        margin-right: 65%;
    }

    #shop article{
        margin-bottom: 25px;
        width: 200px;
    }
}
  
@media only screen and (max-width: 1640px){
    #genderField{
        margin-left:5%;
    }
}

@media only screen and (max-width: 1570px){
    #shop article{
        width: 150px;
    }
}

@media only screen and (max-width: 1500px){
    #shop article:nth-last-child(even){
        margin-right: 75%;
    }
}

@media only screen and (max-width: 1440px){
    #genderField{
        margin-left:1%;
    }
}

@media only screen and (max-width: 1325px){
    #genderField{
        top: 15%;
        margin-left:11%;
    }
}

@media only screen and (max-width: 1230px){
    #shop article:nth-last-child(even){
        margin-right: 0;
    }
    #shop article{
        width: 200px;
    }
    #shop{
        margin-top: 650px;
        gap: 20px;
        margin-bottom: 50px;
    }
}